h1 {
    text-align: center;
    font-size: 45px;
    color: purple
}
h2 {
     font-size:30px;
     text-align: center;
}
h3{
    text-align: left, center;
    font-size: 30px;


}
ul.special {
    align-content:right ;
    margin: 4px;
    border: 3px solid red;
    padding: 10px;
    background-color: lightsalmon;
    box-sizing: content-box;
    width: 400px;
    height: 500px;
    text-align: center;
    font-size: 35px;
}

.column {
       width: 400px; 
       float:right;
       font-size:30px;

}
.img {
    float: right;
    width: 50%;
    height: 60%;

    
}



