h1 {


}

.special {


}
h2 {


}
p {
    text-align: center;

}
img {
    float:right;
    padding: 2%;
}
.img {

     float:left;

}

ul {
    text-align: justify;
    text-align: center;
    font-size: 40px;
}